@use "@/styles/mixins" as m;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px 50px;
  padding: 24px 2px;
  position: sticky;
  top: 68px;
  left: 0;
  z-index: 10;
  background-color: #131820;
  transition: background-color .3s;

  &.hidden {
    display: none;
  }
}

@media (max-width: 1300px) {
  .header {
    margin: 10px 20px 0;
    padding: 20px;
    margin-inline: 0;
    background-color: #14171d;
    width: calc(100% - 4px);
    left: 18px;
  }
}

@include m.medium {
  .header {
    top: 67px;
  }
}

@media (max-width: 480px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    position: static;
  }
}

.header .mainWrapper {
  max-width: 460px;
  width: 100%;
}

.header .mainWrapper .wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 10px;
}

.header .mainWrapper .wrapper h3 {
  font-size: 1.4rem;
  font-weight: 700;
  text-wrap: nowrap;
  line-height: 1.2;
}

.header .mainWrapper>p {
  color: #9ca3af;
}

@include m.small {
  .header .mainWrapper>p {
    font-size: .9rem;
  }
}

@media (max-width: 480px) {
  .header .mainWrapper>p {
    max-width: 166px;
  }
}

.header .mainWrapper>p>span {
  color: #cdd4de;
  font-weight: 500;
}