@use "@/styles/mixins" as m;

.playerCard {
  background-color: #0e1217;
  background-color: #131820;
  border: 1px solid #2a313a;
  padding: 20px;
  border-radius: 12px;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: background-color .3s ease, border-color .3s ease;

  &:hover {
    border-color: #374151;
  }
}

@include m.very-small {
  .playerCard {
    padding: 16px;
  }
}

.topSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}