.difficultySection {
  margin-bottom: 14px;
}

.difficultyLabel {
  color: #9ca3af;
  font-size: 0.75rem;
  font-weight: 500;
  margin-right: 8px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.fpsDifficulties {
  display: flex;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;
  margin-top: 4px;
  min-height: 23.6px;
}

.fpsDifficulty {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1e2939;
  border-radius: 4px;
  padding: 3px 6px;
  gap: 12px;
  border: 1px solid #374151;
}

.fps {
  color: #9ca3af;
  font-size: 0.7rem;
  font-weight: 500;
}

.difficulty {
  color: #facc15;
  font-size: 0.75rem;
  font-weight: 600;
}