@use "@/styles/mixins" as m;

.filtersSection {
  margin-bottom: 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  transition: border-color .2s ease;

  &:hover {
    border-color: #7a8aa5;
  }
}

@include m.media(large) {
  .filtersSection {
    gap: 10px;
  }
}

@include m.media(medium) {
  .filtersSection {
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
  }
}

.filtersSection .row {
  display: flex;
  align-items: flex-end;
  gap: 16px;
  width: 100%;
  position: relative;
}

@include m.media(small) {
  .filtersSection .row {
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

.filtersSection .row.secondRow {
  align-items: flex-end;
  justify-content: space-between;
}

@include m.media(large) {
  .filtersSection .row.secondRow {
    flex-direction: column;
    align-items: flex-start;
  }
}

@include m.media(very-small) {
  .filtersSection .row.secondRow {
    flex-direction: column;
    align-items: flex-start;
  }
}

.fields {
  display: flex;
  gap: 8px;
}

@include m.media(small) {
  .fields {
    flex-wrap: wrap;

    &>* {
      min-width: auto;
    }
  }
}

.filterGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.filterLabel {
  min-width: 64px;
  text-wrap: nowrap;
  color: #fff;
  font-size: .9rem;
  font-weight: 600;
  text-transform: capitalize;
}

.resultsSummary {
  position: relative;
  bottom: 10px;
  right: 6px;
}

@include m.media(large) {
  .resultsSummary {
    position: absolute;
    top: unset;
    bottom: -46px;
    left: 100px;
  }
}

@media (max-width: 500px) {
  .resultsSummary {
    bottom: -84px;
    left: 0;
  }
}

.thirdRow {
  display: flex;
  gap: 12px;
}

.advancedFilters {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}