@use "@/styles/mixins" as m;

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

@include m.very-small {
  .cardHeader {
    position: relative;
    margin-bottom: 50px;
  }
}

.cardHeader .wrapper {
  display: flex;
  gap: 16px;
}

@include m.small {
  .cardHeader .wrapper {
    gap: 8px;
  }
}

.cardHeader .wrapper .country {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #1f2937;
  color: #f8fafc;
  @include m.flex-center;
  border: 2px solid #facc15;
  overflow: hidden;
  flex-shrink: 0;
}

@include m.very-small {
  .cardHeader .wrapper .country {
    position: absolute;
    top: 58px;
    left: 0;
  }
}

@include m.very-small {
  .favButton {
    position: absolute;
    top: 64px;
    right: 0;
  }
}