@use "@/styles/mixins" as m;

.filtersSection {
  position: relative;
  display: flex;
  justify-content: stretch;
  gap: 16px;
  margin-bottom: 16px;
  width: 100%;
  flex-wrap: wrap;
}

@include m.very-small {
  .filtersSection {
    justify-content: center;
  }
}