@use "@/styles/mixins" as m;

.contentSection {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

@include m.media(medium) {
  .contentSection {
    flex-wrap: wrap;
  }
}

@include m.media(small) {

  .contentSection,
  .contentSection .leftSide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contentSection .leftSide .description {
  font-size: .9rem;
  color: #9CA3AF;
  max-width: 400px;
  margin-block: 16px 24px;
}

@include m.media(medium) {
  .contentSection .leftSide .description {
    max-width: 470px;
  }
}

@include m.media(small) {
  .contentSection .leftSide .description {
    text-align: center;
  }
}

@include m.media(very-small) {
  .contentSection .leftSide .description {
    font-size: .8rem;
    text-wrap: balance;
  }
}
