.completionRate {
  margin-bottom: 26px;
}

.completionRate .textWrapper {
  display: flex;
  justify-content: space-between;
  font-size: .8rem;
  margin-bottom: 10px;
}

.completionRate .textWrapper .text {
  color: #A0AEC0;
  font-weight: 500;
  text-transform: uppercase;
}

.completionRate .textWrapper .rate {
  color: #fff;
  font-weight: 600;
}

.completionRate .progressBar {
  width: 100%;
  background-color: oklch(27.8% 0.033 256.848);
  border-radius: 12px;
  height: 12px;
  overflow: hidden;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  position: relative;
}

.completionRate .progressLine {
  height: 12px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(90deg, #E53E3E 0, #FFC107 50%, #22C55E 100%);
  transition: width 1s cubic-bezier(.175, .885, .32, 1.275);
  position: relative;
}

.completionRate .progressLine::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, .2) 50%,
      rgba(255, 255, 255, 0) 100%);
  animation: shine 2s infinite;
  z-index: 2;
}

.completionRate .hideLine {
  content: '';
  position: absolute;
  inset: 0;
  background-color: oklch(27.8% 0.033 256.848);
}

@keyframes shine {
  from {
    translate: -100% 0;
  }

  to {
    translate: 100% 0;
  }
}