.indicator {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: .9rem;
  font-weight: 600;
  grid-area: indicator;
  color: #f6f6f6;
  position: relative;
  top: 12px;
}

.indicator .statusDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;

  &.online {
    background-color: #47ca4b;
  }

  &.offline {
    background-color: #F44336;
  }
}