@use "@/styles/mixins" as m;

.list {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.list>li {
  color: #E2E8F0;
  background: linear-gradient(45deg, #E2E8F0, #99a5b5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &::before {
    content: '🔹';
  }
}

@include m.media(small) {
  .list>li {
    font-size: .9rem;
  }
}

@include m.media(very-small) {
  .list>li {
    font-size: .8rem;
  }
}

.list>li .link {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #f5d452;
  position: relative;
  transition: color .3s ease;

  &:hover {
    background-color: #ffcc00;
  }

  &:focus-visible {
    outline-offset: 3px;
  }
}