@use "@/styles/mixins" as m;

.list {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-inline-start: 25px;
}

.list>li {
  display: list-item;
  color: #E2E8F0;

  &::marker {
    content: '🔹';
    -webkit-text-fill-color: initial;
  }
}

@include m.media(small) {
  .list>li {
    font-size: .9rem;
  }
}

@include m.media(very-small) {
  .list>li {
    font-size: .8rem;
  }
}

.list>li .link {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #f5d452;
  position: relative;
  transition: color .3s ease;

  &:hover {
    background-color: #ffcc00;
  }

  &:focus-visible {
    outline-offset: 3px;
  }
}