@use "@/styles/mixins" as m;

.serverHeader {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  position: relative;
}

@media (max-width: 420px) {
  .serverHeader {
    display: grid;
    grid-template-areas:
      'flag ip'
      'indicator indicator';
    grid-template-columns: 36px 1fr;
  }
}

.countryFlag {
  width: 36px;
  height: 27px;
  flex-shrink: 0;
  grid-area: flag;

  img {
    border-radius: 4px;
  }
}

.serverHeader>*:not(.mapBackground) {
  position: relative;
  z-index: 2;
}

.serverHeader .mapBackground {
  position: absolute;
  inset: 0;
  width: 100%;
  height: calc(100% + 90px) !important;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
  z-index: 1;
}

.serverHeader::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: calc(100% + 90px) !important;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 12px 12px 0 0;
  z-index: 2;
}