.serverHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: var(--padding);
  position: relative;
}

.countryFlag {
  width: 36px;
  height: 27px;
  flex-shrink: 0;

  img {
    border-radius: 4px;
  }
}

.serverStatusIndicator {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;

  .statusDot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  .statusText {
    display: flex;
    align-items: center;
    color: #f6f6f6;
    text-wrap: nowrap;
  }
}

.serverHeader>*:not(.mapBackground) {
  position: relative;
  z-index: 2;
}

.serverHeader .mapBackground {
  --height: calc(100% + 66px);
  position: absolute;
  inset: 0;
  width: 100%;
  height: calc(100% + 66px) !important;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
  z-index: 1;
}

.serverHeader::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  height: calc(100% + 66px) !important;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 12px 12px 0 0;
  z-index: 2;
}