@use "@/styles/mixins" as m;

.fpsPerformanceSection {
  border-radius: 16px;
  padding: 32px;
  margin-bottom: 32px;
  border: 1px solid #1d2432;
}

@include m.media(small) {
  .fpsPerformanceSection {
    padding: 20px;
  }
}

@include m.media(very-small) {
  .fpsPerformanceSection {
    padding: 0;
    border: none;
  }
}

.fpsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  padding-bottom: 12px;
  border-bottom: 1px solid #1d2432;
}

@include m.media(very-small) {
  .fpsHeader {
    flex-direction: column;
    align-items: flex-start;
    border: none;
    margin-bottom: 12px;
  }
}

.fpsHeader h2 {
  font-size: clamp(1.05rem, 4vw, 1.5rem);
  font-weight: 600;
  color: #f9fafb;
}

.fpsHeader .totalRuns {
  font-size: clamp(.8rem, 3vw, 1rem);
  color: #9ca3af;
  font-weight: 500;
}

.fpsHeader .totalRuns strong {
  color: #f9fafb;
  margin-left: 2px;
}

.fpsOverviewStats {
  display: grid;
  grid-template-columns: repeat(6, minmax(150px, 1fr));
  gap: 1rem;
  width: 100%;
}

@include m.media(large) {
  .fpsOverviewStats {
    grid-template-columns: repeat(3, minmax(150px, 1fr));
  }
}

@include m.media(small) {
  .fpsOverviewStats {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@include m.media(very-small) {
  .fpsOverviewStats {
    grid-template-columns: 1fr;
  }
}

.fpsOverviewItem {
  background: #161e2d;
  border-radius: 10px;
  padding: 20px 16px;
  text-align: center;
  border: 1px solid #28303d;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease;
}

.fpsOverviewItem.bestFpsOverview {
  background: #1a2331;
  border-color: #facc15;
  box-shadow: 0 0 0 2px rgba(250, 204, 21, .2);

  .fpsOverviewValue {
    color: #facc15;
  }
}

.fpsOverviewItem.bestFpsOverview .fpsMeta svg {
  opacity: 1;
}

.fpsOverviewItem.bestFpsOverview::before {
  content: 'BEST FPS';
  position: absolute;
  top: 0;
  right: 0;
  background: #facc15;
  color: #1f2937;
  font-size: .6rem;
  font-weight: 700;
  padding: 3px 8px;
  border-bottom-left-radius: 4px;
  text-transform: uppercase;
}

.fpsOverviewLabel {
  font-size: .9rem;
  color: #9ca3af;
  margin-bottom: 8px;
  font-weight: 500;
  @include m.flex-center;
  gap: 6px;
}

.fpsOverviewLabel .fpsValue {
  font-weight: 600;
  color: #e5e7eb;
}

.fpsOverviewLabel .fpsText {
  font-size: .8em;
  opacity: .8;
}

.fpsOverviewValue {
  font-size: 1.75rem;
  font-weight: 700;
  color: #f9fafb;
  margin-block: 4px;
  line-height: 1.2;
  font-feature-settings: 'tnum' on, 'lnum' on;
  letter-spacing: -.05em;
}

.fpsMeta {
  display: flex;
  justify-content: center;
  gap: 12px;
  font-size: .85rem;
  margin-top: 12px;
}

.fpsMeta>div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.fpsMeta>div svg {
  width: 12px;
  height: 12px;
  opacity: .7;
}

.fpsPercentage {
  color: #facc15;
  font-weight: 500;
}
