.copyButton {
  background: none;
  border: none;
  color: #f6f6f6;
  padding: 0;
  cursor: pointer;
  transition: color 0.2s;

  &:hover {
    color: #fff;
  }
}

.copyButton>svg {
  display: block;
  width: 16px;
  height: 16px;

  &[data-type=stroke] {
    stroke: #f6f6f6;
  }

  &:not([data-type=stroke]) {
    fill: #f6f6f6;
  }
}