.copyButton {
  background: none;
  border: none;
  color: #f6f6f6;
  padding: 0;
  cursor: pointer;
  transition: color 0.2s;
}

.copyButton:hover svg[data-type=stroke] {
  stroke: #47ca4b;
}

.copyButton>svg {
  display: block;
  width: 18px;
  height: 18px;

  &[data-type=stroke] {
    stroke: #f6f6f6;
  }

  &:not([data-type=stroke]) {
    fill: #32f639;
  }
}