@use "@/styles/mixins" as m;

.topRunsList {
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #131d33;
  border: 1px solid #334155;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .2);
}

.table thead {
  background: linear-gradient(180deg, #334155 0, #1e293b 100%);
  border-bottom: 2px solid #475569;
  position: sticky;
  top: 68px;
}

.table tr {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
}

@include m.large {
  .table tr {
    grid-template-columns: 100px 1.8fr 1fr 1fr 1fr 1fr;
  }
}

@include m.medium {
  .table tr {
    grid-template-columns: 100px 1.8fr 1fr 1fr 1fr;
  }
}

.table th {
  text-align: left;
  font-size: 0.7rem;
  font-weight: 700;
  color: #cbd5e1;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  white-space: nowrap;
}

.table :where(th, td) {
  padding: 1rem 1.25rem;
}

@include m.medium {
  .table :where(th, td) {
    padding: 1rem;
  }
}

.mapNameCell {
  min-width: 190px;
  max-width: 260px;
}

.fpsCell {
  margin-left: 3px;
}

@include m.medium {
  .scoreCell {
    display: none;
  }
}

@include m.large {
  .table .dateCell {
    display: none;
  }
}

@include m.small {
  .table thead {
    display: none;
  }
}
