.statsGrid {
  display: flex;
  gap: 24px;
  margin-top: 24px;
}

.statItem {
  display: flex;
  align-items: center;
  gap: 6px;
  min-width: 0;
  position: relative;
}

.statItem:first-child::after {
  content: ".";
  position: absolute;
  right: -11px;
  bottom: 14px;
  height: 3px;
  width: 3px;
  color: #494f59;
  font-size: 1.8rem;
  line-height: 0;
}

.statLabel {
  color: #9ca3af;
  font-size: .875rem;
}

.statValue {
  color: #f3f4f6;
  font-size: .875rem;
  font-weight: 500;
}