@use "@/styles/mixins" as m;

.mapsSection {
  width: 100%;
  min-height: 480px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, minmax(390px, 1fr));
  position: relative;
  z-index: 0;

  &.collapse>* {
    display: none;
  }
}

@media (max-width: 1280px) {
  .mapsSection {
    grid-template-columns: repeat(3, minmax(368px, 1fr));
  }
}

@include m.large {
  .mapsSection {
    grid-template-columns: repeat(2, minmax(368px, 1fr));
  }
}

@media (max-width: 812px) {
  .mapsSection {
    grid-template-columns: 1fr;
  }
}

.mapsSection.list {
  display: flex;
  flex-direction: column;
  gap: 0;
  background-color: #111827;
  border-radius: 20px;
  box-shadow: 0 12px 36px rgba(0, 0, 0, 0.25), 0 8px 16px rgba(0, 0, 0, 0.15);
}

@include m.very-small {
  .mapsSection.list {
    border-radius: 0;
  }
}