@use "@/styles/mixins" as m;

.videosList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.noVideos {
  padding: 24px 16px;
  text-align: center;
  color: var(--text-secondary);
  font-size: 0.9rem;
}

@include m.medium {
  .noVideos {
    display: none;
  }
}