@use "@/styles/mixins" as m;

.imageContainer {
  flex-shrink: 0;
  width: 100%;
  max-width: 480px;
  height: 272px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #374151;
  position: relative;
  object-fit: cover;
}

@include m.very-small {
  .imageContainer {
    height: 200px;
  }
}

.imageContainer svg[data-loader] {
  width: 112px;
  height: 112px;
  color: #a6aeb0;
}