@use "@/styles/mixins" as m;

@include m.media(small) {
  .playerRow td {
    min-height: 64px;
  }
}

.playerRow .rank {
  color: #fff;
}

@include m.media(medium) {
  .playerRow .rank {
    background-color: #14171d;
    border-radius: 10px 10px 0 0;
  }

  .playerRow .rank svg {
    width: 34px !important;
    height: 34px !important;
  }
}

.playerRow .rating {
  font-weight: 700;
  font-size: 1.1rem;
  color: #FFB800;
  user-select: text;
}

.playerRow :where(.rating, .maps, .score) {
  justify-content: center;
}

.playerRow .score {
  font-weight: normal;
  user-select: text;
}

@include m.media(large) {
  .playerRow .score[data-header=Points] {
    display: none;
  }
}

@include m.media(medium) {
  .playerRow .score[data-header=Points] {
    display: flex;
  }
}
