.copyButton {
  background: none;
  border: none;
  color: #e0e0e0;
  padding: 0;
  cursor: pointer;
  transition: color .2s;
}

.copyButton>svg {
  display: block;
  width: 18px;
  height: 18px;

  &:not([data-type=stroke]) {
    fill: #32f639;
  }
}

.copyButton:hover svg {
  color: #fff;
}