@use "@/styles/mixins" as m;

.sortSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 26px;
}

@include m.medium {
  .sortSection {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media (max-width: 450px) {
  .sortSection {
    gap: 10px;
  }
}

.sortSection .leftSide {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  position: relative;
  z-index: 1;
}

@media (max-width: 560px) {
  .sortSection .leftSide {
    flex-wrap: wrap;
  }
}

@media (max-width: 450px) {
  .sortSection .leftSide {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

.label .tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}