@use "@/styles/mixins" as m;

.sortSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 26px;
}

@include m.large {
  .sortSection {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media (max-width: 500px) {
  .sortSection {
    gap: 10px;
  }
}

.sortSection .leftSide {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  position: relative;
  z-index: 1;
}

@include m.small {
  .sortSection .leftSide {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

@media (max-width: 500px) {
  .sortSection .leftSide {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

.totalMapsText {
  color: #9ca3af;
  text-wrap: nowrap;
}

@include m.large {
  .totalMapsText {
    position: absolute;
    bottom: -56px;
    left: 200px;
  }
}

@media (max-width: 500px) {
  .totalMapsText {
    bottom: -80px;
    left: 0;
  }
}

.totalMapsText>span {
  color: #cdd4de;
  font-weight: 500;
}