@use "@/styles/mixins" as m;

.mainNav {
  display: flex;
  align-items: center;
  gap: 10px;
}

@include m.large {
  .mainNav {
    gap: 0;
  }
}

@include m.medium {
  .mainNav {
    display: none;
  }
}

.mainNav>a {
  padding: 9px 14px;
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 6px;
  transition: background-color .18s ease;
  background: transparent;

  &:hover {
    background: rgba(255, 255, 255, .05);
  }

  &:active {
    background: rgba(255, 255, 255, .1);
  }

  &.active {
    background: rgba(255, 255, 255, .16);
  }
}

@include m.large {
  .mainNav>a {
    border-radius: 0;
  }
}

@include m.medium {
  .mainNav>a {
    padding: 11px 16px;
  }
}

.mainNav>a>svg {
  --svg-color: #9ca3af;

  color: var(--svg-color);
  fill: var(--svg-color);
  width: 18px;
  height: 18px;
  transition: color .12s ease;

  & path {
    stroke: var(--svg-color);
    color: var(--svg-color);
  }
}

.mainNav>a:not(.active):hover>svg {
  --svg-color: #ebebeb;
}

.mainNav>a.active>svg,
.mainNav>a:not(.active):active>svg {
  --svg-color: #fff;
}

.mainNav>a>span {
  color: #9ca3af;
  font-size: .9rem;
  font-weight: 500;
  transition: color .12s ease;
}

@include m.large {
  .mainNav>a>span {
    font-size: .85rem;
  }
}

.mainNav>a:not(.active):hover>span {
  color: #ebebeb;
}

.mainNav>a.active>span,
.mainNav>a:not(.active):active>span {
  color: #fff;
}