@use "@/styles/mixins" as m;

.graphContainer {
  height: var(--graph-height);
  background: #0e1422;
  border-radius: 8px;
  border: 1px solid #161b29;
}

.loadingState {
  @include m.flex-center;
  flex-direction: column;
  height: 100%;
}

.loadingState p {
  text-align: center;
  padding: 10px 16px;
  margin-top: 16px;
  color: #94a3b8;
  font-size: .95rem;
}