@use "@/styles/mixins" as m;

.badgesCountContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-block: 16px;
  margin-bottom: 28px;
  border-top: 2px solid #272c36;
  border-bottom: 2px solid #272c36;
}

@include m.media(medium) {
  .badgesCountContainer {
    padding-block: 12px;
  }
}

@include m.media(small) {
  .badgesCountContainer {
    padding-block: 10px;
    margin-bottom: 20px;
  }
}

@include m.media(very-small) {
  .badgesCountContainer {
    padding-block: 8px;
    margin-bottom: 16px;
  }
}

.badgeButton {
  background-color: transparent;
  border: 0;
  @include m.flex-center;
  flex-direction: column;
  flex: 1;
  min-width: 100px;
  padding: 12px;
  gap: 4px;
  border-right: 1px solid #1f232b;
  border-bottom: solid 4px transparent;

  &:last-child {
    border-right: none;
  }

  &.active {
    border-bottom-color: #16d6c0;
  }
}

@include m.media(large) {
  .badgeButton {
    min-width: 90px;
    padding: 10px;
  }
}

@include m.media(medium) {
  .badgeButton {
    flex: 1;
    min-width: 80px;
    padding: 8px;
    border-right: 1px solid #1f232b;
  }
}

@include m.media(small) {
  .badgeButton {
    flex: 1 1 calc(50% - .5px);
    min-width: auto;
    padding: 8px 6px;
    border-bottom: 1px solid #1f232b;

    &:nth-child(even) {
      border-right: none;
    }
  }
}

@include m.media(very-small) {
  .badgeButton {
    padding: 6px 4px;
  }
}

.badgeLabel {
  color: #9ca3af;
  font-size: .8rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: .2px;
  text-transform: capitalize;
}

@include m.media(large) {
  .badgeLabel {
    font-size: .65rem;
  }
}

@include m.media(medium) {
  .badgeLabel {
    font-size: .6rem;
  }
}

@include m.media(small) {
  .badgeLabel {
    font-size: .55rem;
  }
}

@include m.media(very-small) {
  .badgeLabel {
    font-size: .5rem;
  }
}

.badgeValue {
  color: #e5e7eb;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
}

@include m.media(large) {
  .badgeValue {
    font-size: 1.5rem;
  }
}

@include m.media(medium) {
  .badgeValue {
    font-size: 1.35rem;
  }
}

@include m.media(small) {
  .badgeValue {
    font-size: 1.2rem;
  }
}

@include m.media(very-small) {
  .badgeValue {
    font-size: 1rem;
  }
}