@use "@/styles/mixins" as m;

.badgesFieldset {
  border: 0;
}

.badgesFieldset>legend {
  text-wrap: nowrap;
  color: #fff;
  text-transform: capitalize;
  min-width: 64px;
  font-size: .9rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.badgesContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-block: 16px;
  border-top: 2px solid #272c36;
  border-bottom: 2px solid #272c36;
}

@include m.media(medium) {
  .badgesContainer {
    padding-block: 12px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@include m.media(small) {
  .badgesContainer {
    border: 0;
    padding-block: 10px;
    display: flex;
    justify-content: flex-start;
  }
}

@include m.media(very-small) {
  .badgesContainer {
    padding-block: 8px;
  }
}

.badgeButton {
  background-color: transparent;
  border: 0;
  @include m.flex-center;
  flex-direction: column;
  flex: 1;
  min-width: 100px;
  padding: 12px;
  gap: 4px;
  border-right: 1px solid #1f232b;
  border-bottom: solid 4px transparent;

  &:last-child {
    border-right: none;
  }

  &.active {
    border-bottom-color: #16d6c0;
  }
}

@include m.media(large) {
  .badgeButton {
    min-width: 90px;
    padding: 10px;
  }
}

@include m.media(medium) {
  .badgeButton {
    flex: 1;
    min-width: 80px;
    padding: 14px;
    border: 0;
    border-bottom: solid 3px transparent;

    &:nth-child(3n - 1) {
      border-left: 1px solid #1f232b;
      border-right: 1px solid #1f232b;
    }

    &:not(.active):not(:nth-last-child(-n + 3)) {
      border-bottom: 1px solid #1f232b;
    }
  }
}

@include m.media(small) {
  .badgeButton {
    flex: 0 1 50%;
    min-width: auto;
    border: 1px solid #1f232b;

    &:last-child {
      border-right: 1px solid #1f232b;
    }

    &:nth-child(even) {
      border-left: 0;
    }
  }
}

@include m.media(very-small) {
  .badgeButton {
    gap: 6px;

    &:last-child {
      flex-grow: 1;
    }
  }
}

.badgeLabel {
  color: #9ca3af;
  font-size: .8rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: .2px;
  text-transform: capitalize;
}

@include m.media(large) {
  .badgeLabel {
    font-size: .65rem;
  }
}

@include m.media(medium) {
  .badgeLabel {
    font-size: .8rem;
  }
}

.badgeValue {
  color: #e5e7eb;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
}

@include m.media(large) {
  .badgeValue {
    font-size: 1.5rem;
  }
}

@include m.media(medium) {
  .badgeValue {
    font-size: 1.6rem;
  }
}

@include m.media(very-small) {
  .badgeValue {
    font-size: 1.1rem;
  }
}