@use "@/styles/mixins" as m;

.section {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &.contentVisibility {
    content-visibility: auto;
  }
}

.sectionTitle {
  font-size: clamp(1.45rem, 1.15rem + 1vw, 2rem);
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: -0.03em;
  color: var(--text-primary, #fff);
}

@include m.small {
  .section {
    gap: 12px;
  }

  .sectionTitle {
    margin-left: 16px;
  }

  .card {
    padding: 0;
  }
}