@use "@/styles/mixins" as m;

.text {
  color: #9ca3af;
  text-wrap: nowrap;
}

@include m.media(large) {
  .text {
    position: absolute;
    bottom: -56px;
    left: 200px;
  }
}

@media (max-width: 500px) {
  .text {
    bottom: -80px;
    left: 0;
  }
}

.text>b {
  color: #cdd4de;
  font-weight: 500;
}