.button {

  &.active {
    background: linear-gradient(135deg, #f59e0b, #fbbf24);
    border-color: #f59e0b;
    box-shadow: 0 0 0 2px rgba(251, 191, 36, .35);
    rotate: 180deg;

    svg {
      fill: #000;
    }
  }

  &:not(:disabled):not(.active):not(.flip):hover,
  &:not(:disabled):not(.active):not(.flip):focus-visible {
    background-color: #374151;
    color: #f3f4f6;
    border-color: #9ca3af;
  }
}