@use "@/styles/mixins" as m;

.mapCard {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  padding: 20px 24px;
  border-bottom: 1px solid #1e293b;
  position: relative;
}

@include m.medium {
  .mapCard {
    border-bottom: 1px solid #394b69;
    gap: 0 24px;
    flex-direction: column;
    gap: 24px;
  }
}

@include m.very-small {
  .mapCard {
    padding: 0;
    border: 0;
  }
}

.mapCard .imgHolder {
  width: 300px;
  height: 170px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@include m.medium {
  .mapCard .imgHolder {
    max-width: 320px;
    width: 100%;
    height: 180px;
    border-radius: 6px;
  }
}

@include m.small {
  .mapCard .imgHolder {
    aspect-ratio: 16 / 9;
    width: 100%;
  }
}

@include m.very-small {
  .mapCard .imgHolder {
    border-radius: 0;
  }
}

.mapCard .imgHolder [data-type=img-holder] {
  height: inherit;
  border-radius: 14px;
}

@include m.very-small {
  .mapCard .imgHolder [data-type=img-holder] {
    border-radius: 0;
    border: 0;
  }
}

.mapCard .imgHolder [data-type=img-holder] [data-loader] {
  display: block;
  width: 94px;
  height: 94px;
}

.leftSide {
  display: flex;
  flex-direction: column;
  flex: 1;
}


@include m.very-small {
  .leftSide {
    padding-inline: 14px;
  }
}

.leftSide a {
  display: flex;
  gap: 7px;
  width: fit-content;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  margin: 0;
  letter-spacing: -.3px;
  position: relative;
  word-break: break-all;
  transition: color .2s;

  &:hover {
    color: #ffc107;
  }
}

@include m.small {
  .leftSide a {
    font-size: 1rem;
    font-weight: 600;
  }
}

@include m.very-small {
  .leftSide a {
    font-size: 1rem;
  }
}

.leftSide a .name {
  display: flex;
  align-items: center;
}

.leftSide a .ender {
  color: #facc15;
  font-size: .85rem;
  font-weight: 500;
  margin-left: 5px;
}

.videoIcon {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  z-index: 1;
  margin-top: 2px;
}

.videoIcon::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  background-color: #fff;
  width: calc(100% - 6px);
  height: calc(100% - 16px);
  z-index: -1;
}

.videoIcon svg {
  width: 100%;
  height: 100%;
  fill: #FF0000;
}

.leftSide .classifications {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.leftSide .classifications .classification {
  font-size: 12px;
  font-weight: 600;
  padding: 3px 10px;
  border-radius: 100px;
  background-color: rgba(58, 134, 255, 0.15);
  color: #3a86ff;
  text-transform: uppercase;

  &.defrag {
    background-color: rgba(153, 78, 224, 0.15);
    color: #b86cff;
  }

  &.surf {
    background-color: rgba(19, 167, 151, 0.15);
    color: #13a797;
  }

  &.expert {
    background-color: rgba(239, 68, 68, 0.15);
    color: #ef4444;
  }

  &.new {
    background-color: rgba(245, 158, 11, 0.15);
    color: #f59e0b;
  }
}

.moreText {
  color: #9ca3af;
  font-size: 0.65rem;
  font-weight: 500;
}

@include m.medium {
  .rightSide {
    width: 300px;
  }
}

@include m.small {
  .rightSide {
    max-width: 320px;
    width: 100%;
  }
}

@include m.very-small {
  .rightSide {
    padding: 14px;
  }
}

.rightSide .authorAndRelease {
  display: flex;
  gap: 10px;
}

.rightSide .authorAndRelease .authorName {
  font-size: 14px;
  color: #9ca8c0;
  font-weight: 500;
  width: 200px;
}

@include m.large {
  .rightSide .authorAndRelease .authorName {
    width: 150px;
  }
}

.rightSide .authorAndRelease .releaseDate {
  font-size: 14px;
  color: #8292af;
  text-align: right;
  width: 150px;
}