.card {
  background-color: #131820;
  border: 1px solid #2A3040;
  border-radius: 12px;
  padding: 20px;
  position: relative;
}

.card>h2 {
  font-weight: 600;
  font-size: 1.1rem;
  color: #fff;
  margin-bottom: 24px;
}