@use "@/styles/mixins" as m;

.hero {
  text-align: center;
  max-width: 480px;
  margin: 0 auto 32px;

  @include m.small {
    margin-bottom: 24px;
  }
}

.titleWrapper {
  @include m.flex-center;
  gap: 16px;
}

.icon {
  width: 30px;
  height: 30px;
  translate: 0 -3px;
  fill: #facc15;

  @include m.small {
    width: 24px;
    height: 24px;
  }
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #f9fafb;
  margin-bottom: 12px;
  line-height: 1.2;
  letter-spacing: -.02em;

  @include m.small {
    font-size: 1.5rem;
    margin-bottom: 8px;
  }
}

.description {
  font-size: 1.05rem;
  color: #9ca3af;
  margin: 0 auto 32px;
  line-height: 1.6;

  @include m.small {
    font-size: .95rem;
    margin-bottom: 24px;
  }
}