@use "@/styles/mixins" as m;

.footer {
  margin-top: 40px;
  padding-block: 48px 80px;
  background-color: #101828;
  position: relative;
}

.footer .line {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  opacity: .6;
  width: 100%;
  background-image: linear-gradient(to right, transparent 0, #f0b100 50%, transparent 100%);
}

.footer [data-container] {
  padding-inline: 16px;
}

.sectionsLine {
  border: none;
  border-top: 1px solid #2a3346;
  margin-block: 40px;
}

@include m.small {
  .sectionsLine {
    margin-block: 20px;
  }
}