@use "@/styles/mixins" as m;

.mainNav {
  display: flex;
  align-items: center;
  gap: 10px;
}

@include m.large {
  .mainNav {
    gap: 5px;
  }
}

@include m.medium {
  .mainNav {
    display: none;
  }
}

.mainNav>a {
  padding: .6rem .9rem;
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 6px;
  transition: background-color .18s ease;
  background: transparent;

  &:hover {
    background: rgba(255, 255, 255, .05);
  }

  &:active {
    background: rgba(255, 255, 255, .1);
  }

  &.active {
    background: rgba(255, 255, 255, .16);
  }
}

@include m.medium {
  .mainNav>a {
    padding: .7rem 1.03rem;
  }
}

.mainNav>a>svg {
  color: #9ca3af;
  width: 18px !important;
  height: 18px !important;
  transition: color .12s ease;

  & path {
    stroke: #9ca3af;
    color: #9ca3af;
  }
}

@include m.medium {
  .mainNav>a>svg {
    width: 18px;
    height: 18px;
  }
}

.mainNav>a:not(.active):hover>svg {
  color: #ebebeb;

  & path {
    stroke: #ebebeb;
    color: #ebebeb;
  }
}

.mainNav>a.active>svg,
.mainNav>a:not(.active):active>svg {
  color: #fff;

  & path {
    stroke: #fff;
    color: #fff;
  }
}

.mainNav>a>span {
  color: #9ca3af;
  font-size: .9rem;
  font-weight: 500;
  transition: color .12s ease;
}

@include m.medium {
  .mainNav>a>span {
    font-size: .9rem;
  }
}

.mainNav>a:not(.active):hover>span {
  color: #ebebeb;
}

.mainNav>a.active>span,
.mainNav>a:not(.active):active>span {
  color: #fff;
}