@use "@/styles/mixins" as m;

.notFoundPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorCode {
  font-size: 12rem;
  font-weight: 700;
  background: linear-gradient(45deg, #F5D452, #FFE985);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
  line-height: .9;
  text-shadow: 0 10px 15px rgba(245, 212, 82, .3);
}

@include m.media(small) {
  .errorCode {
    font-size: 9rem;
  }
}

.title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #E2E8F0;
  background: linear-gradient(45deg, #E2E8F0, #8B97A8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@include m.media(small) {
  .title {
    font-size: 1.8rem;
  }
}

.description {
  max-width: 360px;
  margin-bottom: 20px;
  line-height: 1.8;
  text-align: center;
  font-weight: 500;
  color: #c4c8ce;
}

@include m.media(small) {
  .description {
    font-size: .9rem;
    line-height: 1.6;
    max-width: 280px;
  }
}

@include m.media(very-small) {
  .description {
    max-width: 100%;
  }
}

.buttons {
  display: flex;
  gap: 10px;
}

@include m.media(very-small) {
  .buttons {
    flex-direction: column;
    width: 100%;
  }
}

.buttons :where(a, button) {
  font-family: inherit;
  border: none;
  background-color: #F5D452;
  color: #0E1116;
  padding: 10px 18px;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: #e6c43e;
  }
}

@include m.media(small) {
  .buttons :where(a, button) {
    padding: 10px 18px;
    font-size: .9rem;
    font-weight: 500;
  }
}

@include m.media(very-small) {
  .buttons :where(a, button) {
    width: 100%;
    text-align: center;
  }
}