.rank {
  border: none !important;
  outline: none !important;
  padding-left: 10px !important;
  border-bottom: 1px solid #2a3040 !important;
  width: 100%;
  text-align: left;
}

.rank::before {
  content: '';
  position: absolute;
  inset: 10px 0;
  border-radius: 2px;
  border: solid 2px transparent;
  z-index: -1;
}

.rank:focus-visible::before {
  border-color: #feb700;
}